@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Berkeley Mono';
    src: url('./fonts/BerkeleyMonoVariable.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

body {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans',
    Arial, sans-serif;
  font-weight: normal;
}

pre code {
  font-family: 'Berkeley Mono', 'JetBrains Mono', ui-monospace, 'Cascadia Code',
    'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-weight: 600;
  font-variant-ligatures: discretionary-ligatures;
}

code {
  font-family: 'Berkeley Mono', 'JetBrains Mono', ui-monospace, 'Cascadia Code',
    'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-weight: 600;
  font-variant-ligatures: discretionary-ligatures;
}

code.sourceCode.python {
    font-family: 'Berkeley Mono', 'JetBrains Mono', ui-monospace, 'Cascadia Code',
    'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 14px;
    font-weight: 700;
    font-variant-ligatures: discretionary-ligatures;
}

treescope-container::part(treescope_root) {
    font-family: 'Berkeley Mono', 'JetBrains Mono', ui-monospace, 'Cascadia Code',
    'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 14px;
    font-weight: 700;
    font-variant-ligatures: discretionary-ligatures;
}

div.cell {
    margin-bottom: 10px;
}

pre {
    font-family: 'Berkeley Mono', 'JetBrains Mono', ui-monospace, 'Cascadia Code',
    'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 14px;
    font-weight: 700;
    font-variant-ligatures: discretionary-ligatures;
}

@counter-style thumbs {
  system: cyclic;
  symbols: "⚀" "⚁" "⚂" "⚃" "⚄" "⚅";
  suffix: " ";
  font-size: 20px;
}

ul {
  list-style: thumbs;
}

li::marker {
    font-size: 20px;
}

h1.title {
    font-weight: 900;
    text-align: center;
}

p.subtitle.lead {
    text-align: center;
    font-style: italic;
    padding-top: 0px;
    max-width: 600px;
    margin: auto;
}
